<div class="inner">

    <div class="header">
        <h1 class="title"><a href="<%= link %>"><%= title %></a></h1>

        <a class="back" href="#">
            <span class="back-inner">Back</span>
        </a>

        <div class="subtitle">
            <span class="author">
                <a href="https://www.flickr.com/people/<%= author_id %>"><%= author %></a>
            </span>

            <span class="separator">|</span>

            <span class="published">
                Published: <span><%= published %></span>
            </span>
        </div>
    </div>

    <div class="content">
        <div class="img">
            <a href="<%= link %>"><img src="<%= media.m %>"></a>
        </div>

        <div class="description"><%= description %></div>
    </div>

    <div class="footer">
        <div class="tags">
            Tags:
            <% _.each(tags.split(' '), function(el, idx) { %>
            <a href="https://www.flickr.com/photos/tags/<%= el %>/"><%= el %></a>
            <% }); %>
        </div>
    </div>

</div>